.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    border: 2px solid pink;
    width: auto;
    text-align: center;
    padding-top: auto;
    /*browser prefix*/
    -webkit-box-shadow: 4px 4px 5px #888888; /*Chrome*/
    -moz-box-shadow: 4px 4px 5px #888888; /*firefox*/
    -ms-box-shadow: 4px 4px 5px #888888; /*ms explorer*/
    -o-box-shadow: 4px 4px 5px #888888; /*Opeara */
    box-shadow: 4px 4px 5px #888888;
}

img {
    width: 360px;
    height: 240px;
    margin: 10px;
    transition: all 0.5s;

}

img:hover{
    transform: scale(1.1);
}
